#img1 {
    width: 40vw;
}

#img2 {
    width: 12vw;
}

#img3 {
    width: 4vw;
}

#img4 {
    width: 80%;
}

#img5 {
    width: 100%;
}

#img13 {
    width: 4vw;
}

#img12 {
    width: 100%;
}

#img9 {
    width: 10vw;
}

#img10 {
    width: 10vw;
}

#img11 {
    width: 10vw;
}

#img14 {
    width: 4vw;
}

#img15 {
    width: 4vw;
}

#img16 {
    width: 4vw;
}

#img17 {
    width: 4vw;
}


#img27 {
    height: 20px;
    width: 20px;
}

.campaign-user-image {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

#img20 {
    width: 60%;
}

#img18 {
    width: 100%;
}

#img19{
    width: 85%;
}

#img21{
    width: 20%;
}

#img22 {
    width: 40%;
}

#img23 {
    width: 30%;
}

#img24 {
    width: 30%;
}

#img25 {
    width: 30%;
}